*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(104, 253, 191);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vw;
}
.container{
    width: 80vw;
    height: auto;
    background-color: rgb(241, 40, 80);
    padding: 5vw;
    border-radius: 0.5vw;
}
h1{
    color: white;
    margin-bottom: 2vw;
}
.input input{
    padding: 2vw;
    width: 75%;
    border: none;
}
#add{
    padding: 2vw;
    width: 20%;
    background-color: rgb(48, 236, 189);
    color: white;
    border: none;
    cursor: pointer;    
}
.list{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    background: none;
    border: 2px solid white;
    padding: 3.5vw;
}
.list li{
    background-color: rgb(58, 240, 194);
    padding: 3vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
}